doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    .container 
      nav.navbar.navbar-default.navbar-static-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') App Name
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li(class=(title == 'Home') ? 'active' : null)
                a(href='/') Home
              li(class=(title == 'About') ? 'active' : null)
                a(href='/about') About
            ul.nav.navbar-nav.navbar-right
              if user
                li.dropdown
                  a.navbar-avatar.dropdown-toggle(href='#', data-toggle='dropdown')
                    span #{user.name || user.email} &nbsp;
                    i.caret
                  ul.dropdown-menu
                    li
                      a(href='/profile') Profile
                    li.divider(role='separator')
                    li
                      a(href='/logout') Logout
              else
                li(class=(title == 'Log in') ? 'active' : null)
                  a(href='/login') Log-in
                li(class=(title == 'Register') ? 'active' : null)
                  a(href='/register') Register
      //- /.nav-collapse

      form(action='#' method='method')
        .form-group
          label(for='email') Email
          input.form-control(type='email', name='email' placeholder='Email' autofocus=true)
        .form-group
          label(for='password') Password
          input.form-control(type='password', name='{:password}')
        button.btn.btn-primary(type='submit') Log-in


      form(action='#' method='method')
        .form-group
          label(for='name') Name
          input.form-control(type='text', name='name' placeholder='Name' autofocus=true)
        .form-group
          label(for='email') Email
          input.form-control(type='email', name='email' placeholder='Email')
        .form-group
          label(for='password') Password
          input.form-control(type='password', name='password')
      button.btn.btn-primary(type='submit') Register

      footer
        .container
          p
          | &copy; 2016 |
          i.fa.fa-value(aria-hidden='true') &nbsp;
          a(href='#') View Source